@import 'vars';

// Blocks
@import "cell";
@import "gamefield";
@import "info";
@import "wrapper";
@import "restart-btn";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}
